.blog-panel
  .layui-container
    ul.layui-clear
      
      li
        a(href="") 前端
      li
        a(href="") 摄影
      li
        a(href="") 美食
      li
        a(href="") 骑行
      li
        a(href="") 健身
      
      
    .blog-column-right
      a(href="/article").layui-btn 发表文章